<div class="card col-md-6 mt-4 text-left mx-auto bg-light">
	<div class="card-body">

    	<h4 class="card-title bg-secondary text-white btn-lg text-center btn-block">Editar Clientes</h4>

		<form action="/modificar/{{registros._id}}" method="POST">

			<div class="form-group">
				<span class="">Nombre del cliente</i></span>
				<div class="">
                    <input type="text" name="name" class="form-control" placeholder="Nombre" value="{{registros.name_cli}}">
				</div>
			</div>
			<div class="form-group">
				<span class="">Usuario</i></span>
				<div class="">
					<input type="text" name="username" class="form-control" placeholder="Nombre" value="{{registros.username_cli}}">
				</div>
			</div>
			<div class="form-group">
				<span class="">Correo electronico</i></span>
				<div class="">
					<input type="email" name="email" class="form-control" placeholder="Email" value="{{registros.email_cli}}">
				</div>
			</div>
			<div class="form-group">
				<span class="">Telefono</i></span>
				<div class="">
					<input type="tel" name="telf" class="form-control" placeholder="Telefono" value="{{registros.telf_cli}}">
				</div>
			</div>			

			<div class="form-group">
				<div class=" text-center">
					<button type="submit" class="btn btn-warning">Aplicar cambios</button>
				</div>
			</div> 
		</form>
	</div>
</div>				
